<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to Symfony!</title>
        {{ encore_entry_link_tags('app') }}
    </head>
    <body>
        <div class="container pt-5 pb-5">
            {% block body %}{% endblock %}
        </div>
        {{ encore_entry_script_tags('app') }}
    </body>
</html>
